---
import Layout from "../layouts/Layout.astro";
import biopicture from "/bio-picture.jpeg"
---

<Layout title="About – Justin Solo">
  <div class="max-w-4xl mx-auto px-2 mt-4 text-gray-900">
    <div class="flex flex-col space-y-4">
      <h1 class="text-3xl font-bold">
        About me
      </h1>
      <div class="flex flex-col items-center">
        <img src={biopicture} alt="Bio picture" class="rounded-md w-48 mb-4"/>
        <div class="flex flex-col space-y-2">
          <p>
            Hello! I am Justin, a full-stack software engineer based in Irvine, California. I love building interactive tools that are innovative, simple, and accessible.
          </p>
          <p>
            My current stack right now is React, Next.js, tRPC, TailwindCSS, Nodejs, and ASP.net Core. I have also experience with technologies such as Nest.js, SQL Server, Amazon AWS and Azure.
          </p>
          <p>I'm currently looking for a new role as developer.</p>
        </div>
      </div>
      <h2 class="text-xl font-bold">
        More info about me?
      </h2> 
      <p>You can follow me on <a href="https://twitter.com/justinsolodev" target="_blank" rel="norefferer" class="text-blue-600 underline">Twitter @justinsolodev</a>, or checkout my <a href="https://github.com/justinpaulosolo" target="_blank" rel="noreferrer" class="text-blue-600 underline">Github</a>, and <a href="https://www.linkedin.com/in/justinpaulosolo/" target="_blank" rel="noreferrer" class="text-blue-600 underline">Linkedin</a></p>
    </div>
  </div>

</Layout>
