---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname === '/' ? 'home' : pathname.slice(1);
---
<nav>
  <div class="max-w-4xl mx-auto">
    <div class="flex justify-between">
      <div class="flex">
        <a href="/" class="uppercase font-base tracking-wide px-2 py-5">
          Justin<span class="font-bold text-gray-700">Solo</span>
        </a>
      </div>
      <div class="flex space-x-4 text-gray-500 items-center text-sm">
        <a href="/" class={`px-2 py-5 ${currentPath === 'home' ? 'font-medium' : 'font-base'}`}>
          Home
        </a>
        <a href="/about" class={`px-2 py-5 ${currentPath === 'about' ? 'font-medium' : 'font-base'}`}>
          About
        </a>
        <a href="/projects" class={`px-2 py-5 ${currentPath === 'projects' ? 'font-medium' : 'font-base'}`}>
          Projects
        </a>
        <a href="/contact" class={`px-2 py-5 ${currentPath === 'contact' ? 'font-medium' : 'font-base'}`}>
          Contact
        </a>
      </div>
    </div>
  </div>
</nav>